<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../CSS/stylepage.css">
		<title>Contact</title>
	</head>
	
	<body>
	<br>
		<nav class="topnav" id="myTopnav">
			<a href="home.html">Main</a> <a href="news.html">News</a> <a href="photos_page.html">Photos</a> <a href="links.html">Links</a>  <a href="blog.html">Blog</a> <a href="contact.html">Contact</a>
		</nav>
		<br>
		<div class="contact_info">
			<h1> Contact Info </h1>
			<ul>
				<li><a href="someone@somewhere.com">Email</a></li>
				<br/>
				<li><a href="www.linkedin.com/miguelgonzalez">LinkedIn </a></li>
				<br/>
				<li><a href="#someplace.com">Somewhere Cool</a></li>
			</ul>
		</div>
	</body>
</html>