<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../CSS/stylepage.css">
		<title>News</title>
	</head>
	
	<body>
	<br>
		<nav class="topnav" id="myTopnav">
			<a href="home.html">Main</a> <a href="news.html">News</a> <a href="photos_page.html">Photos</a> <a href="links.html">Links</a>  <a href="blog.html">Blog</a> <a href="contact.html">Contact</a>
		</nav>
		<br>
		<div>
			<h1>What I'm Up To and Into</h1>
			<p>Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br></p>
		</div>
		<br>
		<div>
			<h1>Around The World</h1>
			<p>Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br></p>
			
		</div>
		<br>
		<div>
			<h1>Strange But True</h1>
			<p>Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br>
			Under the sea. Life is much betta. Where it is wetta. Under the sea! Under the sea. Life is much betta. Where it is wetta. Under the sea!<br></p>
			
		</div>
	</body>
</html>